* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Montserrat', sans-serif; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #ccc; border-radius: 3px; }
::selection { background: rgba(51, 96, 63, 0.2); }
input:focus, select:focus, textarea:focus { border-color: #33603f !important; outline: none; }
